/* Auto Layout Horizontal */

/* Auto layout */
.story {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

/* Inside auto layout
flex: none;
order: 0;
flex-grow: 0; */
